extends ../layout

block main_content
    form(action="/market", method="post")
        .form-group.row
            label(for="market_name",class="col-12 col-sm-12 col-md-12 col-lg-3 col-form-label") Market Name
            .col-12.col-sm-12.col-md-12.col-lg-9#market_name
                input(type="text",class="form-control")
        .form-group.row
            label(for="market_contact",class="col-12 col-sm-12 col-md-12 col-lg-3 col-form-label") Market Contact
            .col-12.col-sm-12.col-md-12.col-lg-9#market_contact
                input(type="number",class="form-control")
        .form-group.row
            label(for="product_id",class="col-12 col-sm-12 col-md-12 col-lg-3 col-form-label") Submit product to market
            .col-12.col-sm-12.col-md-12.col-lg-9#product_id
                select(name="product_id",class="form-control")
        .form-group.row
            .col-12
                button(class="btn btn-primary w-100",value="Submit Data") Submit Data