extends ../layout

block main_content
    form(action="/seller", method="post")
        .form-group.row
            label(for="product_name",class="col-12 col-sm-12 col-md-12 col-lg-3 col-form-label") Product Name
            .col-12.col-sm-12.col-md-12.col-lg-9#product_name
                input(type="text", name="product_name",class="form-control")
        .form-group.row
            label(for="product_price",class="col-12 col-sm-12 col-md-12 col-lg-3 col-form-label") Product Price
            .col-12.col-sm-12.col-md-12.col-lg-9#product_price
                input(type="number", name="product_price",class="form-control")
        .form-group.row
            label(for="product_stock",class="col-12 col-sm-12 col-md-12 col-lg-3 col-form-label") Product Stock
            .col-12.col-sm-12.col-md-12.col-lg-9#product_stock
                input(type="number",name="product_stock",class="form-control")
        .form-group.row
            .col-12
                button(value="Submit Data",class="btn btn-primary w-100") Submit Data

