extends ../layout

block main_content
    .table-responsive
        table(class="table")
            tr(class="bg-dark text-light")
                td
                td
                td
                td