extends ./layout

block main_content
    h3 Welcome to index page
    p(class="alert alert-success") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio eveniet eum porro quia aliquam saepe, repellat accusamus omnis enim nostrum ullam adipisci deserunt quas fuga accusantium explicabo exercitationem repudiandae.