<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{titlePage}
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        nav(class="navbar bg-dark text-light")
            h3(class="navbar-brand")= navbarTitle
            div(class="nav")
                a(href="/seller",class="nav-item text-primary mx-2") Seller Page
                a(href="/",class="nav-item text-primary mx-2") Home Page
                a(href="/market",class="nav-item text-primary mx-2") Market Page
                a(href="/seller/login",class="nav-item text-primary mx-2") Login as seller
                a(href="/seller/logout",class="nav-item text-primary mx-2") Logout
        .container-fluid.py-2
            .row
                .col-12.col-sm-12.col-md-12.col-lg-3
                    .card
                        h3(class="card-header bg-primary text-light")= cardTitle
                        .list-group.list-group-flush
                            span(class="list-group-item")
                                 a(href="/seller",class="text-primary") Seller Page
                            span(class="list-group-item")
                                 a(href="/",class="text-primary") Home Page
                            span(class="list-group-item")
                                 a(href="/market",class="text-primary") Market Page
                .col-12.col-sm-12.col-md-12.col-lg-9
                    .card
                        h3(class="card-header bg-primary text-light")= cardTitle
                        .card-body
                            block main_content
        