<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{titlePage}
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        nav(class="navbar bg-dark text-light")
            h3(class="navbar-brand")= navbarTitle
            div(class="nav")
                a(href="#",class="nav-item text-primary mx-2") Item Link
                a(href="#",class="nav-item text-primary mx-2") Item Link
                a(href="#",class="nav-item text-primary mx-2") Item Link

        .container-fluid.py-2
            .row
                .col-12.col-sm-12.col-md-12.col-lg-3
                    .card
                        h3(class="card-header bg-primary text-light")= cardTitle
                        .list-group.list-group-flush
                            span(class="list-group-item") Item one
                            span(class="list-group-item") Item two
                            span(class="list-group-item") Item three
                .col-12.col-sm-12.col-md-12.col-lg-9
                    .card
                        h3(class="card-header bg-primary text-light")= cardTitle
                        .card-body
                            block main_content
        